/**

    reports.css

    Styles pertaining to reports page

**/

.wip-link {
  color: #7c2700;;
}
  
table tr:hover td {
  background:color#ccc;
}

/* media query: when printing forms, display only the report and adjust font size to 10 to fit elements */
@media print {
  .date-form {
    display:none;
  }
  .print-button {
    display:none;
  }
  .report > * {
    font-size: 10pt;
  }
}