/**

  site.css

  Site wide styles

**/

html,
body {
    height: calc(100vh - 56px);
}

main,
footer {
    position: relative;
    top: 56px;
}

main {
    flex: 1;
}

h1 {
    margin-bottom: 2rem;
}

h2:not(.activity h2) {
    margin-top: 2rem;
}

.title-icon svg {
    margin: 0 10px 2rem 0;
    box-shadow: -1px 1px 3px #070e3338;
    border-radius: 20%;
    padding: 4px;

    background: #fff;

    color: #0bb2db;
}

/* ===========================================================================================
|| TYPOGRAPHY
=========================================================================================== */

/* ---------- imports ---------- */

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2) format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
      U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* ---------- darkmode? ---------- */
body {
    background: #1a1b27;

    font-family: 'Inter', sans-serif;
    color: #fff;
}


/* ---------- default ---------- */
body {
    overflow-y: scroll;

    background: #fafafa;

    font-family: 'Inter', sans-serif;
    color: #0c1955;
}

h1,
h2 {
    font-family: 'Lato', sans-serif;
}

/* ===========================================================================================
|| COLOR PALETTE
=========================================================================================== */

/* that nice dark blue color */
.slate {
    color: #070e33;
}

.bg-slate {
    background: #070e33;
}

.bg-transparent-slate {
    background: rgba(7, 14, 51, 0.89);
}

/* trademark blue color */
.pacific-cyan {
    color: #0bb2db;
}

.bg-pacific-cyan {
    background: #0bb2db;
}

.border-pacific-cyan {
    border-color: #0bb2db;
}

/* secondary colors */

.iris {
    color: #5f4bb6;
}

.bg-iris {
    background: #5f4bb6;
}

.border-iris {
    border-color: #5f4bb6;
}

.lavender {
    color: #9680f8;
}

.bg-lavender {
   background: #9680f8;
}

.border-lavender {
    border-color: #9680f8;
}

.imperial-red {
    color: #F15152;
}

.bg-imperial-red {
    background: #F15152;
}

.border-imperial-red {
    border-color: #F15152;
}

/* i wanna use these i just don't know where yet */
.light-bulb {
    color: #EE9018;
}

.lighter-bulb {
    color: #F1C40F;
}

/* ===========================================================================================
|| ALERT MESSAGES
=========================================================================================== */

div.alert {
    font-size: 0.8rem;
}
