/* ===========================================================================================
                                        CSS INDEX
==============================================================================================

|| GENERAL
|| TYPOGRAPHY
|| COLOR PALETTE
|| ALERT MESSAGES

|| PILL NAV
|| GRIDVIEW WIDGET
|| DETAILVIEW WIDGET
|| PAGINATION
|| SELECT2
|| FORMS

|| LOGIN

|| ACTIVITY

|| MEDIA QUERIES

==============================================================================================
|| GENERAL
=========================================================================================== */

html,
body {
  height: calc(100vh - 56px);
}

main,
footer {
  position: relative;
  top: 56px;
}

main {
  flex: 1;
}

h1 {
  margin-bottom: 2rem;
}

h2:not(.activity h2) {
  margin-top: 2rem;
}

.title-icon svg {
  margin: 0 10px 2rem 0;
  box-shadow: -1px 1px 3px #070e3338;
  border-radius: 20%;
  padding: 4px;

  background: #fff;

  color: #6fc6db;
}

/* ===========================================================================================
|| TYPOGRAPHY
=========================================================================================== */

/* ---------- imports ---------- */

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hiA.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v24/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* ---------- darkmode? ---------- */
body {
  background: #1a1b27;

  font-family: 'Inter', sans-serif;
  color: #fff;
}


/* ---------- default ---------- */
body {
  overflow-y: scroll;

  background: #fafafa;

  font-family: 'Inter', sans-serif;
  color: #0c1955;
}

h1,
h2 {
  font-family: 'Lato', sans-serif;
}

/* ===========================================================================================
|| COLOR PALETTE
=========================================================================================== */

/* that nice dark blue color */
.slate {
  color: #070e33;
}

.bg-slate {
  background: #070e33;
}

.bg-transparent-slate {
  background: rgba(7, 14, 51, 0.89);
}

/* trademark blue color */
.pacific-cyan {
  color: #09a2c9;
}

.bg-pacific-cyan {
  background: #09a2c9;
}

.border-pacific-cyan {
  border-color: #09a2c9;
}

/* secondary colors */

.iris {
  color: #5f4bb6;
}

.bg-iris {
  background: #5f4bb6;
}

.border-iris {
  border-color: #5f4bb6;
}

.lavender {
  color: #8672e0;
}

.bg-lavender {
  background: #8672e0;
}

.border-lavender {
  border-color: #8672e0;
}

.imperial-red {
  color: #F15152;
}

.bg-imperial-red {
  background: #F15152;
}

.border-imperial-red {
  border-color: #F15152;
}

/* i wanna use these i just don't know where yet */
.light-bulb {
  color: #EE9018;
}

.lighter-bulb {
  color: #F1C40F;
}

/* ===========================================================================================
|| ALERT MESSAGES
=========================================================================================== */

div.alert {
  font-size: 0.8rem;
}

/* ===========================================================================================
|| PILL NAV
=========================================================================================== */

#pills-tab {
  display: inline-flex;
  justify-content: space-evenly;

  width: 100%;

  background-color: #09a2c9;
}

#pills-tab>li {
  flex: 1 1 50%;
  border: 1px solid #fff;
}

#pills-tab>li>button {
  border-radius: 0;
  width: 100%;
  padding: 15px;

  background-color: transparent;

  font-weight: bold;
  color: #fff;
}

#pills-tab>li>button.active {
  background-color: #0000005b;
}

/* ===========================================================================================
|| GRIDVIEW WIDGET
=========================================================================================== */

.table-container {
  padding: 1rem 0 0 0;
}

/* change alternating table row colors to be prettier */
tr:nth-child(odd) td {
  background-color: #f8f7ff;
}

/* applied to ticket table rows when the priority is critical */
.critical td {
  box-shadow: inset 200px 200px #5d18ff67 !important;
}

.high td {
  box-shadow: inset 200px 200px #ff585894 !important;
}

.filters td {
  background-color: #070e33dc;
}

th a {
  text-decoration: none;

  color: #09a2c9;
}

/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  content: '';
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 4px 4px 2px 4px;
  background: transparent;
}

a.asc:after {
  border-bottom: solid 7px #212529;
  border-top-width: 0;
}

a.desc:after {
  border-top: solid 7px #212529;
  border-bottom-width: 0;
}

.grid-view th {
  white-space: nowrap;
}

.apply-word-break {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

.dot {
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  width: 10px;
  height: 10px;

  background-color: rgb(219, 219, 219);
}

.table-header {
  margin: 2rem 0 -.5rem;
}

/* hyperlinks in table need to be adjusted, shaded parts didn't originally have enough contrast and broke ADA rules */
.grid-view a {
  color:rgb(0, 101, 134);
}
/* ===========================================================================================
|| DETAILVIEW WIDGET
=========================================================================================== */

.detail-view-container {
  margin-bottom: 1rem;
}

.detail-view-container h3{
  margin-bottom: 0;
  border-radius: 5px 5px 0 0;
  width: 300px;
  padding: .5rem;

  background: #09a2c9;
  font-size: 1rem;
  color: #fff;
}

.detail-view-container .table-container {
  box-shadow: 3px 3px 5px rgba(32, 4, 63, 0.1);
  border-radius: 0 5px 5px 5px;
  border: 1px solid rgba(32, 4, 63, 0.1);
  height: auto;
  padding: .5rem .5rem 0rem .5rem;

  background: #fff;
}

.detail-view th {
  width: 30%;

  font-weight: normal;
  color: #0f667c;
}

.detail-view tr:nth-child(odd) td{
  background-color: #f4f2ff;
}

/* ===========================================================================================
|| PAGINATION
=========================================================================================== */

ul.pagination li {
  margin: 0 3px;
}

ul.pagination li a {
  border-radius: 25%;
  border: 2px solid #b3b3b3;

  padding: 5px 8px;

  font-size: .85rem;
  text-decoration: none;
  color: #09a2c9;
}

ul.pagination li.active a {
  border-color: #5f4bb6;

  font-weight: 600;
  color: #5f4bb6;
}

/* ===========================================================================================
|| SELECT2
=========================================================================================== */

/* select2 freaks out if you remove content from one of its elements */
.select2 {
  width: 100% !important;
}

/* make the tags a little prettier */
li.select2-selection__choice {
  padding: 0.15rem;

  background: #5f4bb60c !important;
}

/* get rid of that gross box-shadow */
.select2-container--krajee-bs5 .select2-selection {
  box-shadow: none !important;
  padding: 0.15rem;
}

/* ===========================================================================================
|| FORMS
=========================================================================================== */

.question-box,
.question-box-no-trim {
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.027);
  margin-bottom: 1rem;
  border: 1px solid rgba(32, 4, 63, 0.1);
  border-left: 5px solid #09a2c9;
  border-radius: 3px;
  padding: 1rem;

  background-color: #fff;
}

.question-box-no-trim {
  box-shadow: none;
  border: 1px solid rgba(32, 4, 63, 0.1);
}

/* i don't know how to make bootstrap do what i want so this is a long rule oops */
.secondary-action-button-bar {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;

  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.027);
  border: 1px solid rgba(32, 4, 63, 0.1);
  border-left: 5px solid #535353;
  border-radius: 3px;
  padding: 1rem;

  background-color: #fff;
}

/* make buttons a little smaller than eveyrthing else */
.btn {
  font-size: 0.9rem;
}

/* don't use that ugly blue color on bootstrap5 buttons when hovering */
button.bg-pacific-cyan:hover,
a.btn.bg-pacific-cyan:hover {
  border-color: #066882;
  background-color: #066882;
}

button.bg-iris:hover,
a.btn.bg-iris:hover {
  border-color: #3d3174;
  background-color: #3d3174;
}

button.bg-lavender:hover,
a.btn.bg-lavender:hover {
  border-color: #0f3a25;
  background-color: #0f3a25;
}

button.border-imperial-red:hover {
  border-color: #F15152;
  background-color: #F15152;
}

/* override bs5 disabled button styles */
button.bg-iris:disabled,
a.btn.bg-iris:disabled {
  box-shadow: inset 2000px 2000px #0000001e;
  border-color: #3d3174;
  background-color: #3d3174;
}

button.bg-lavender:disabled,
a.btn.bg-lavender:disabled {
  box-shadow: inset 2000px 2000px #0000001e;
  border-color: #0f3a25;
  background-color: #0f3a25;
}


/* you can find these in the time entry forms. normal sized buttons are too large */
button.btn-skinny {
  font-size: .7rem;
}

/* make the form labels a little more appealing. helps to keep them from blending in with user input */
label.form-label,
label.control-label {
  margin-bottom: 0.2rem;

  font-size: 0.9rem;
  color: #09a2c9;
}

div#ticket-customer_type_id {
  border-right: var(--bs-border-width) solid var(--bs-border-color);
}

.form-check {
  padding-top: 5px;
  padding-bottom: 6px;
}

.grid-view .form-control {
  padding: 2px 5px;
}

.read-only {
  background-color: #ddd7ff;
  cursor: not-allowed;
}

/* this is for the time entry stats in the ticket form */
#ticket-time-stats p {
  margin: 0;
}

.stat-box {
  margin: 5px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 5%;
  min-width: 200px;
  padding: .5rem;

  text-align: center;
}

.total-billable-hours-box {
  background:#9191911c;
}

.totaled-hours {
  color: #00708b;
}



/* ===========================================================================================
|| LOGIN
=========================================================================================== */

.bg-login {
  background: url('./images/bg-login.jpg');
  background-size: cover;
  background-position: center;
}

/* ===========================================================================================
|| ACTIVITY
=========================================================================================== */

.col-auto {
  width: auto;
}

.activity .entry {
  overflow-y: scroll;

  border-radius: 10px;
  max-height: 150px;
  padding: 10px 15px;

  background: #fff;

  color: #0c1955;
}

.activity .entry::-webkit-scrollbar-thumb { border-radius: 10px; }

.entry p,
.entry a {
  margin: 0;
  padding: 0;
}

.entry p:not(:last-child),
.entry a {
  margin-bottom: 10px;
}

.entry p:last-child {
  margin-top: 10px;
}

.activity-date {
  margin-top: 10px;
  font-size: 0.8rem;
  color: #a5a5a5;
}

/* ===========================================================================================
|| MEDIA QUERIES
=========================================================================================== */

@media only screen and (min-width: 1250px) {
  #pills-tab>li {
    flex: 1 1 200px;
  }
}